/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 *= require foundation
 */

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.login {
    width: 250px;
}

.login > * {
    font-family: 'Open Sans Condensed', sans-serif;
}

.thinBorder{
    border: 1px lightgray solid;
    border-radius: 25px;
    padding: 20px;
}

.menu{
    width: 400px;
}

.outerMenu {
    width: 400px;
}

#gameTitle {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

#outerScore{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    text-align: center;
    width: 237px;
}

#win{

}

#lost{

}

#outerHangmanImage{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.letter{
    display: inline;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

#alphabet{
    width: 195px;
    margin-right: auto;
    margin-left: auto;
}

.letter:hover{
    cursor: pointer;
    border: 1px darkgray solid;
}

.usedLetter{
    display: inline;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-decoration: line-through;
    color: navajowhite;
}

#maskedWord{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    margin: 0 auto 20px;
    text-align: center;
    letter-spacing: 2px;
}

#movesLeft{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 150px;
}

#topScore{
    width: 364px;
    margin-left: auto;
    margin-right: auto;
}



.alert, .notice{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;

}



#error_explanation > h2{
    font-size: 14px;
}

#error_explanation > li{
    font-size: 14px;
}


#signUp{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}